*{
    margin: 0;
    padding: 0;
}
.navBar{
    padding: 10px;
    display: flex;
    height: 70px;
    width:auto;
    justify-content: center;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
}
.logo{
    height: 65px;
    width: 65px;
}
.logo img{
    height: 70px;
    width: 70px;
}

.navButtons{
    padding: 2px;
    color: black;
    padding-top: 25px;
    padding-left: 50px;
}

.navButtons li{
    padding: 9px;
    font-size: x-large;
    display: inline;
    list-style-type: none;
    color: white;
}

.navBar .logo:hover{
    border-radius: 50%;
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
}

.navButtons li a:hover{
    border-radius: 15%;
    background-color: rgba(211, 68, 7);
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
}
.navButtons a{
    color: white;
    text-decoration: none;
}

/* Body Stuff */
.bodyContent{
    height:750px ;
    width: auto;
    background-color: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    padding-top: 10px;   
}

.bodyContent .rotatingBG{
    top: 50px;
    left: 50px;
    height: 600px;
    width: 900px;
    border-radius: 50%;
    /* background-color: rgb(218, 62, 19); */
    position: relative;
    opacity: 80%;
}


.bodyContent .rotatingBG img{
    opacity: 90%;
    height: 600px;
    width: 600px;
    animation: rotate 10000s;
}
@keyframes rotate{
    0%{
    transform:rotate(0deg);}
    100%{
        transform: rotate(360000deg);
    }
}

.bodyContent .myPhotos{
    height: 700px;
    width: 700px;
    position: relative;
    
}

.bodyContent .myPhotos img{
    position: absolute;
}


.bodyContent .image1{
    position: absolute;
    height: 450px;
    width: 450px;
    top: 100px;
    left: 350px;
    z-index: 1;
}
.bodyContent .image1:hover{
    border-radius: 50%;
    height: 455px;
    width: 455px;
    z-index: 100;
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
}

.bodyContent .image2:hover{
    border-radius: 50%;
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
    height: 330px;
    width: 330px;
    z-index: 100;
}

.bodyContent .image3:hover{
    border-radius: 50%;
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
    height: 330px;
    width: 330px;
    z-index: 100;
}

.bodyContent .image2{
    position: absolute;
    left: 120px;
    top: 40px;
    height: 320px;
    width: 320px;
    z-index: 3;
}
.bodyContent .image3{
    position: absolute;
    left: 160px;
    top: 320px;
    height: 320px;
    width: 320px;
    z-index: 2;
}
.bodyContent .intro{
    z-index: 1;
    margin-top: 100px;
    margin-right: 80px;
    width: 600px;
    height: 300px;
    padding: 20px;
    border-radius: 5%;
    text-wrap: wrap;
    justify-content: center;
}

.bodyContent .intro h1{
    font-size: 40px;
    color: white;
}
.bodyContent .intro p{
    color: white;
    font-size: xx-large;
}
.bodyContent .intro:hover{
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
}


/* Footer */
footer{
    box-shadow: 0px 5px 15px black;
    color: white;
    background-color: black;
    height: 120px;
    
}

#socialLinks, li{
    display: inline;
    list-style: none;
}

#socialLinks i:hover{
    border-radius: 50%;
    box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
}
footer #socialLinks{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 30px;
    font-size: 40px;
}

/* Responsive */
@media screen and (max-width: 491px) {
    .bodyContent{
        height:100%;
        width: auto;
        background-color: rgb(9, 9, 9);
        padding-top: 10px;   
        display: flex;
        flex-direction: column;
    }

    .bodyContent .rotatingBG{
        display: none;
    }

    .bodyContent .image2{
        display: none;
    }

    .bodyContent .image3{
        display: none;
    }

    .bodyContent .image1{
        height: 250px;
        width: 250px;
        position: absolute;
        top: 0; 
        left: 20%;
        z-index: 1;
    }

    .bodyContent .myPhotos{
        height: 310px;
        width: auto;     
        position: relative;
    }
    
    .bodyContent .myPhotos img{
        position: absolute;
    }

    .bodyContent .intro{
        width: auto;
        margin: 0;
        padding: 10px;
    }
    
    
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .bodyContent{
        height:100%;
        width: auto;
        background-color: rgb(9, 9, 9);
        padding-top: 10px;   
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .bodyContent .rotatingBG{
        position: absolute;
        height: 400px;
        width: 400px;
    }

    .bodyContent .rotatingBG img{
        opacity: 90%;
        height: 400px;
        width: 400px;
        animation: rotate 10000s;
    }

    .bodyContent .image2{
        display: none;
    }
    .bodyContent .image3{
        display: none;
    }

    .bodyContent .image1{
        height: 250px;
        width: 250px;
        position: absolute;
        top: 35px; 
        left: 33%;
        z-index: 1;
    }

    .bodyContent .image1:hover{
        border-radius: 50%;
        height: 255px;
        width: 255px;
        z-index: 100;
        box-shadow: rgba(211, 68, 7, 0.921) 0px 10px 36px 0px, rgba(224,77,16, 0.06) 0px 0px 0px 1px;
    }

    .bodyContent .myPhotos{
        height: 310px;
        width: auto;     
        position: relative;
    }
    
    .bodyContent .myPhotos img{
        position: absolute;
    }

    .bodyContent .intro{
        width: auto;
        margin: 0;
        padding: 10px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .bodyContent{
        height:100%;
        width: auto;
        background-color: rgb(9, 9, 9);
        padding-top: 10px;   
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .bodyContent .rotatingBG{
        display: none;
    }
    .bodyContent .myPhotos{
        /* height: 310px; */
        width: auto;     
        position: relative;
    }
    .bodyContent .intro{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
}